@font-face {
    font-family: 'Playfair Display';
    src: local('Playfair Display'), local('PlayfairDisplay-Regular'), url('../fonts/playfair/playfairdisplay.woff2') format('woff2'), url('../fonts/playfair/playfairdisplay.woff') format('woff'), url('../fonts/playfair/playfairdisplay.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair Display';
    src: local('Playfair Display Italic'), local('PlayfairDisplay-Italic'), url('../fonts/playfair/playfairdisplayitalic.woff2') format('woff2'), url('../fonts/playfair/playfairdisplayitalic.woff') format('woff'), url('../fonts/playfair/playfairdisplayitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Playfair Display';
    src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'), url('../fonts/playfair/playfairdisplaybold.woff2') format('woff2'), url('../fonts/playfair/playfairdisplaybold.woff') format('woff'), url('../fonts/playfair/playfairdisplaybold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair Display';
    src: local('Playfair Display Bold Italic'), local('PlayfairDisplay-BoldItalic'), url('../fonts/playfair/playfairdisplaybolditalic.woff2') format('woff2'), url('../fonts/playfair/playfairdisplaybolditalic.woff') format('woff'), url('../fonts/playfair/playfairdisplaybolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Playfair Display';
    src: local('Playfair Display Black'), local('PlayfairDisplay-Black'), url('../fonts/playfair/playfairdisplayblack.woff2') format('woff2'), url('../fonts/playfair/playfairdisplayblack.woff') format('woff'), url('../fonts/playfair/playfairdisplayblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair Display';
    src: local('Playfair Display Black Italic'), local('PlayfairDisplay-BlackItalic'), url('../fonts/playfair/playfairdisplayblackitalic.woff2') format('woff2'), url('../fonts/playfair/playfairdisplayblackitalic.woff') format('woff'), url('../fonts/playfair/playfairdisplayblackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
