footer
	margin-top 5%
	width 100%
	height 75px
	padding-bottom 75px
	overflow hidden
	background gray
	color lightGray
	transition height transitionDuration ease
	text-align center
	position relative
	.main-footer
		z-index 2
		.col
			.col-header
				color white
				font-family 'Playfair Display'
				font-style italic
			.col-subheader
				display inline-block
				margin-top 2em
		.col-social
			.social-icons
				width 75%
				margin 2em auto 0 auto
				display block
				.icon-wrap
					float left
					display inline-block
					width 2em
					height 2em
					position relative
					.icon
						absolute left top
						width 100%
						height 100%
						&.vk
							sprite(12, 2em)
						&.fb
							sprite(4, 2em)
						&.twitter
							sprite(11, 2em)
						&.trovit
							sprite(10, 2em)
			//	img
			//		margin 0 auto
			//		width 50%
		.col-weather
			.location
				width 50%
				margin-left 25%
				span
					text-align left
					display block
			.weather-report
				width 50%
				text-align left
				margin 3em auto
				.inner-wrap
					position relative
					font-size 2em
					img
						height 100%
					.temperature
						display inline-block
						color white
						margin-left 1em
						font-family 'Display Playfair'
						position relative
						.width-setter
							opacity 0
						.c-value
						.f-value
							transition opacity transitionDuration ease
							display inline-block
							absolute top left
							opacity 0
							&.open
								opacity 1
					.units
						span
							cursor pointer
							font-size 0.5em
							display inline-block
						.c
						.f
							&.chosen
								color white
								border-bottom 1px solid lightGray
						.c
							margin-left 2em
						.f
							margin-left 1em
		.col-connect
			.mail
				margin-top 3em
				display inline-block
				clear both
				color orange
				cursor pointer
				border-bottom 1px solid transparent
				&:hover
					border-bottom 1px solid orange
			.tel
				margin 3em 0
				display block
				color white
	.subfooter
		width 100%
		z-index 4
		absolute bottom 0
		margin-top 5%
		background darkGray
		height 75px
		color lightGray
		.col
			height 100%
		.col-rights
		.col-devs
			&>span
				width 100%
				display inline-block
				height 75px
				line-height 75px
				text-align center
		.col-slide
			img
				cursor pointer
				height 45px
				display block
				margin 15px auto
		.col-devs
			.logo-wrap
				display inline-block
				width 1.5em
				height 1.5em
				relative top 0.5em left 1em
				.logo
					width 100%
					height 100%
					&.dev-logo
						sprite(3, 1.5em)

//@media(min-width $screen-lg)
//	footer
//		height 75px

@media(max-width $screen-lg) and (min-width $screen-md)
	footer
		.col-social
			.social-icons
				width 40% !important
		.weather-report
			width 30% !important
			.c
				margin-left 1em !important
@media(max-width $screen-md) and (min-width $screen-sm)
	.col-social
		.social-icons
			width 60% !important
