@require './vars.styl'

@require '../scripts/pickMeUp/css/pickmeup.styl'
@require './bootstrap/index.styl'

@require './components/nav.styl'
@require './components/nav-expanders.styl'
@require './components/sliders.styl'
@require './components/footer.styl'

html
	width 100%
	body
		position relative
		width 100%
		overflow-x hidden // Not sure if it will ever be needed
		transition padding-top transitionDuration ease

body > .container-fluid
	width 100%
	padding 0
	.row
		margin 0

.global-overlay
	width 100%
	height 100%
	background rgba(black, 0.75)
	fixed top left -100%
	opacity 0
	z-index 200
	transition opacity transitionDuration ease
	&.open
		opacity 1
		left 0
a:hover
a:focus
	text-decoration none